# Rails
/log/*
/tmp/*
/vendor/bundle
/public/assets
.byebug_history
*.rbc
*.sassc
*.swp
*.swo
.DS_Store

# Docker
*.pid
*.env
.env.*
docker-compose.override.yml

# Node/npm/yarn
node_modules/
yarn-error.log
pnpm-lock.yaml

# Outros
*.sqlite3
coverage/
.idea/
.vscode/
